@model TopoListViewModel


<link rel="stylesheet" href="~/css/accordion.css" />
<script src="~/js/accordion.js"></script>
<link rel="stylesheet" href="~/css/site.css" />

<body>
    <div style="height: 60px"></div>
    <div id="map" style="height: 500px; width: auto"></div>
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 50.849654, lng: 17.450219 },
                zoom: 8,
                scrollwheel: true,
                draggable: true
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrfrZb4gzSvs25rFhLkotdvez7wEutoUY&callback=initMap"
            async defer></script>
    <div style="height: 60px"></div>
    <div class="topoData">
        @{ int i = 0;}
        @foreach (var item in Model.Topos)
        {
            <div class="panel-group" id="accordion_@i role="tablist" aria-multiselectable="true">
                <div class="panel panel-default" id="panel_@i">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-target="#collapseOne_@i"
                               href="#collapseOne_@i">
                                <i class="glyphicon glyphicon-plus"></i>
                                @Html.DisplayFor(modelItem => item.Rock)
                            </a>
                        </h4>
                    </div>
                </div>
                <div id="collapseOne_@i" class="panel-collapse collapse in role=tabpanel">
                    <div class="panel-body animated-zoomOut">
                        @Html.DisplayFor(modelItem => item.Wall)
                    </div>
                </div>
                <div id="collapseTwo_@i" class="panel-collapse collapse in">
                    <div class="panel-body">
                        @Html.DisplayFor(modelItem => item.Wall)
                    </div>
                </div>
            </div>
            i++;
        }
    </div>
</body>


<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-primary" pare-url-territory="@Model.CurrentTerritory"
     class="btn-group pull-right m-1"></div>
<div style="height: 120px"></div>


