@model TopoModel

@{
    ViewBag.Title = "Wykaz dróg wspinaczkowych";
}

<table class="table table-striped table-bordered table-sm">
    <tr>
        <th class="text-left">Nazwa</th>
        <th class="text-center">Asekuracja</th>
        <th class="text-center">Wycena</th>
        <th class="text-center">Rok utworzenia</th>
        <th class="text-center">Autor</th>
        <th class="text-center">Długość drogi</th>
        <th class="text-center">Ocena</th>
    </tr>
    @foreach (var row in Model.Routes)
    {
        <tr>
            <td class="text-left"><strong>@row.Name</strong></td>
            <td class="text-center">@row.Assurance</td>
            <td class="text-center">@row.Difficulty</td>
            <td class="text-center">@row.Year</td>
            <td class="text-center">@row.Author</td>
            <td class="text-center">@row.Length</td>
            <td class="text-center">@row.Rating</td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning"
                       asp-route-routeId="@row.RouteID">Edytuj</a>
                    <input type="hidden" name="RouteID" value="@row.RouteID" />
                    <button type="submit" class="btn btn-danger btn-sm">Usuń</button>
                </form>
            </td>
        </tr>
    }
</table>
<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Dodaj drogę</a>
</div>


