<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - onSite - portal wspinaczkowy</title>
    <link href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="bg-dark fixed-top navbar navbar-dark navbar-expand-lg text-dark">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">onSite</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Topo" asp-controller="Topo" asp-action="List">TOPO</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Contest" asp-controller="Home" asp-action="Index">Zawody</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Climbevent" asp-controller="Home" asp-action="Index">Wspólny wspin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Addresses" asp-controller="Home" asp-action="Index">Baza adresów</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-controller="Account" asp-action="Logout">Wyloguj się</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-controller="Account" asp-action="LogIn">Zaloguj się</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-controller="Account" asp-action="Register">Rejestracja</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - onSite.pl - <a asp-area="" asp-controller="Home" asp-action="Privacy">Polityka prywatności</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/account.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
