@model TopoModel

@{
    ViewBag.Title = "Edycja rekordu";
    Layout = "_AdminLayout";
}

@foreach (var row in Model.Routes)
{
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="TopoID" />
        <div class="form-group">
            <label asp-for="Territory">Obszar</label>
            <div><span asp-validation-for="Territory" class="text-danger"></span></div>
            <input asp-for="Territory" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Region">Obszar</label>
            <div><span asp-validation-for="Region" class="text-danger"></span></div>
            <input asp-for="Region" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Sector">Obszar</label>
            <div><span asp-validation-for="Sector" class="text-danger"></span></div>
            <input asp-for="Sector" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Rock">Obszar</label>
            <div><span asp-validation-for="Rock" class="text-danger"></span></div>
            <input asp-for="Rock" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Wall">Obszar</label>
            <div><span asp-validation-for="Wall" class="text-danger"></span></div>
            <input asp-for="Wall" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@row.Name">Droga wspinaczkowa</label>
            <div><span asp-validation-for="@row.Name" class="text-danger"></span></div>
            <input asp-for="@row.Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@row.Assurance">Punkty asekuracyjne</label>
            <input asp-for="@row.Assurance" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@row.Difficulty">Wycena</label>
            <div><span asp-validation-for="@row.Difficulty" class="text-danger"></span></div>
            <input asp-for="@row.Difficulty" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@row.Author">Autor</label>
            <input asp-for="@row.Author" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@row.Year">Rok</label>
            <div><span asp-validation-for="@row.Year" class="text-danger"></span></div>
            <input asp-for="@row.Year" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@row.Length">Długość drogi</label>
            <input asp-for="@row.Length" class="form-control" />
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Zapisz</button>
            <a asp-action="TopoList" class="btn btn-secondary">Anuluj</a>
        </div>
    </form>
}
